html, body {
  background-color: #e7e5e4;
  height: 100%;
  margin: 0;
}

.main {
  height: 100%;
  width: 100%;
  display: table;
}

.wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#display {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 42vw;
  text-align: center;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: #131313;
  text-shadow: 5px 5px 5px rgb(150 150 150);
  user-select: none;
}

#display.solution {
  font-size: 9vw;
}
